#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*A Für die Testseite */
.box {
    background-color: white;
}
.box.active {
    animation: backColor 3s ease-in-out 0.5;
}

@keyframes backColor {
    0% {
        background-color: white;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}
/*E Für die Testseite */

@keyframes colorChangeMinus {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

@keyframes colorChangePlus {
  0% {
    color: white;
  }
  50% {
    color: blue;
  }
  100% {
    color: white;
  }
}

.animateTextColor {
    color: white;
}

.animateTextColor.active {
    animation: colorChangePlus 0.5s ease-in-out 0.4; /* Transition vorab definieren */
}

.animateTextColorMinus {
    color: white;
}

.animateTextColorMinus.active {
    animation: colorChangeMinus 0.5s ease-in-out 0.4; /* Transition vorab definieren */
}


div.animated {
    width: 100px;
    height: 100px;
    border-radius:50px;
    
    background-color: rgb(0, 13, 255);
    position: relative;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@media (min-width: 380px) {
    @keyframes myAnimation {
        0%   {left:0px; top:0px;}
        50%  {left:360px; top:0px;}
        100% {left:0px; top:0px;}
    }
}

@media (min-width: 576px) {
    @keyframes myAnimation {
        0%   {left:0px; top:0px;}
        50%  {left:540px; top:0px;}
        100% {left:0px; top:0px;}
    }
}
@media (min-width: 768px) {
    @keyframes myAnimation {
        0%   {left:0px; top:0px;}
        50%  {left:720px; top:0px;}
        100% {left:0px; top:0px;}
    }
}
@media (min-width: 992px) {
    @keyframes myAnimation {
        0%   {left:0px; top:0px;}
        50%  {left:940px; top:0px;}
        100% {left:0px; top:0px;}
    }
}
@media (min-width: 1200px) {
    @keyframes myAnimation {
        0%   {left:0px; top:0px;}
        50%  {left:1150px; top:0px;}
        100% {left:0px; top:0px;}
    }
}
@media (min-width: 1400px) {
    @keyframes myAnimation {
        0%   {left:0px; top:0px;}
        50%  {left:1350px; top:0px;}
        100% {left:0px; top:0px;}
    }
}
